# Día 1
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.DS_Store
data/raw/
data/processed/
data/vectorstore/
